@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .toolbar-button {
    @apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase hover:bg-blue-700 focus:bg-blue-700 focus:outline-none focus:ring-0 active:bg-blue-800 transition duration-150 ease-in-out;
  }

  .bg-image {
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .slide-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
  }

  #slide-body {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    transition: 1s;
  }
  
  .slide-wrapper #slide-body.slide-left {
    left: 100vw;
  }

  .slide-wrapper #slide-body.slide-right {
    left: -100vw;
  }

  .slide-wrapper #slide-body.slide-bottom {
    top: -100vh;
  }

  .slide-wrapper #slide-body.slide-top {
    top: 100vh;
  }
}